
*{
    margin: 0;
    padding: 0;
    background-color: rgb(191, 220, 220);
}

.container{
    margin-top: 10%;
    margin: 10%;    
    padding: 10px;
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;
    border: 5px solid blue;
    border-radius: 20px;
}
H4{
    margin-top: 25px;
}

#atualizar-saldo{
    font-family: sans-serif;
    font-size: 2rem;
    background-color: rgb(128, 188, 128);
    padding-top: 10px;
    width: 300px;
}


#soma{
    font-family: sans-serif;
    font-size: 2rem;
    background-color: rgb(239, 238, 230);
    padding-left: 5px;
}

#limpar-saldo{
    font-family: sans-serif;
    font-size: 2rem;
    background-color: rgb(227, 225, 112);
    padding-top: 12px;
    margin-top: 30px;
    width: 300px;
}


